body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}


.navbar-container ul {
    display: flex;
    list-style: none;
    gap: 30px;
    justify-content: flex-start;
    font-size: 3rem;
    background-color: rgb(43, 42, 42);
    height: 6rem;
    align-items: center;
}

.navbar-container ul li:hover {
    background-color: #B5E2F8;
    padding: 1rem;
}



.navbar-container a {
    color: rgb(236, 228, 228);
    text-decoration: none;
}

.navbar-container a:hover {
    color: black;
}